version: 2.1

orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  test:
    jobs:
      - architect/go-build:
          context: architect
          name: go-build
          binary: klaus-operator
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          requires:
            - go-build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master
      - architect/push-to-app-catalog:
          context: architect
          name: push-to-app-catalog
          app_catalog: giantswarm-catalog
          app_catalog_test: giantswarm-test-catalog
          chart: klaus-operator
          requires:
            - push-to-registries
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master
