{{- if .Values.muster.registerOperator }}
apiVersion: muster.giantswarm.io/v1alpha1
kind: MCPServer
metadata:
  name: klaus-operator
  namespace: {{ .Values.muster.namespace }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  type: streamable-http
  url: http://{{ include "resource.default.name" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.mcp.port }}/mcp
  auth:
    forwardToken: true
{{- end }}
