apiVersion: v1
kind: Service
metadata:
  name: {{ include "resource.default.name" . }}
  namespace: {{ include "resource.default.namespace" . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "labels.selector" . | nindent 4 }}
  ports:
  - name: mcp
    port: {{ .Values.mcp.port }}
    targetPort: mcp
    protocol: TCP
  {{- if .Values.metrics.enabled }}
  - name: metrics
    port: {{ .Values.metrics.port }}
    targetPort: metrics
    protocol: TCP
  {{- end }}
